@{
    ViewData["Title"] = "Admin Management Dashboard";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Identity.css" asp-append-version="true">
</head>
<style>
    td {
        padding-bottom: 20px;
    }
</style>

<div class="container">
    <main role="main" class="pb-3">
        <h1>Admin Dashboard</h1>
        <h2>Manage the site via Admin Controls</h2>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <table>
                    <tr style="padding: 4px;">
                        <td><a id="users" href='@Url.Action("ShowAllUsers", "Admin")'>View User List</a></td>
                    </tr>
                    <tr style="padding: 4px;">
                        <td><a id="load" href='@Url.Action("LoadGames", "Admin")'>Preload Game List</a></td>
                    </tr>
                    <tr style="padding: 4px;">
                        <td><a id="load" href='@Url.Action("LoadGameInfo", "Admin")'>Load Info For Game List</a></td>
                    </tr>
                    <tr style="padding: 4px;">
                        <td><a id="load" href='@Url.Action("ViewGames", "Admin")'>View Game List</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-9">
                <h3>Select an option from the list to begin administering.</h3>
            </div>
        </div>
    </main>
</div>