@model List<Game>
@{
    ViewData["Title"] = "Admin - Load Games";
    var gamesList = Model;
}
<br>
@{
    if(gamesList.Count() > 0)
    {
        <h1>Games added to the db:</h1>
        foreach(var game in gamesList)
        {
            <div>@game.Name</div>
        }
    }
    else
    {
        <h1>All of the games for the curator account are in the database.</h1>
    }
}