@model List<Game>
@{
    ViewData["Title"] = "Admin - Load Games";
    var gamesList = Model;
}
<br>
@{
    <div class="row">
        <div class="col-md-3">
            <table class="table">
                <h1>Games added</h1>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Steam App Id
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if(gamesList.Count() > 0)
                        {
                            
                            foreach(var game in gamesList)
                            {
                                <tr>
                                    <td>
                                        @game.Name
                                    </td>
                                    <td>
                                        @game.AppId
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <h1>All of the games for the curator account are in the database.</h1>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}