@model List<SteamProject.ViewModels.GameVM>
@{
    ViewData["Title"] = "Admin - Load Game Info";
}
<br>
@{
    if(Model == null)
    {
        <h1>@ViewBag.MyString</h1>
    }
    else if(Model.Count() > 0)
    {

    }
    else
    {
        <h1>All of the games in the server library have genres loaded.</h1>
    }
}