@model SteamProject.ViewModels.AwardVM

<div class="award-popup d-none">
    <div class="award-badge">
        <img src="data:image/png;base64,@Model.AwardImageBase64" alt="Award Image" />
    </div>
    <h2>@Model.AwardTitle</h2>
    <p>@Model.AwardMessage</p>
</div>