 <!DOCTYPE html>
@using SteamProject.Helpers
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers

<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SteamProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SteamProject.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>

<div id="badge-award-popup" class="badge-popup" style="display: none;">
    <div class="badge-popup-content">
        <span id="close-badge-popup" class="badge-popup-close">&times;</span>
        <h4 clas="center">Badge Unlocked</h4>
        <div id="badge-info"></div>
    </div>
</div>


<header>
    <nav class="navbar">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/assets/sin.png" height="45px" style="margin-left: 10px;" alt="">
        </a>
        <partial name="_LoginPartial" style="display: flex; color: #fff;"/>
    </nav>
</header>
<nav class="vert-nav">
    <div class="nav-header">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img class="short-logo-img" height="50px" src="~/assets/shortLogo.png" alt="">
            <img class="long-logo-img" src="~/assets/longLogo.png" alt="">
        </a>
    </div>
    <div class="nav-body">
    @{
        if (User.IsInRole("admin"))
        {
            <div class="nav-litem">
                <a asp-controller="Admin" asp-action="Index">
                    <img class="litem-img" src="~/assets/dashgrid.png" alt="">
                    <div class="litem-label">Management Dashboard</div>
                </a>
            </div>
        }
        else
        {
            <div class="nav-litem">
                <a id="navProfile" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <img class="litem-img" src="~/assets/person.png" alt="">
                    <div class="litem-label">Profile</div>
                </a>
            </div>
            @* <div class="nav-litem">
                <a id="navInbox" asp-controller="Inbox" asp-action="Index">
                    <img class="litem-img" src="~/assets/inbox.png" alt="">
                    <div class="litem-label">Inbox</div>
                </a>
            </div> *@
            <div class="nav-litem">
                <a asp-controller="Home" asp-action="Friends">
                    <img class="litem-img" src="~/assets/person.3.sequence@2x.png" alt="">
                    <div class="litem-label">Friends</div>
                </a>
            </div>
            <div class="nav-litem">
                <a id="navDashboard" asp-controller="Home" asp-action="Dashboard">
                    <img class="litem-img" src="~/assets/dashgrid.png" alt="">
                    <div class="litem-label">Dashboard</div>
                </a>
            </div>
            <div class="nav-litem">
                <a id="navLibrary" asp-controller="Library" asp-action="Index">
                    <img class="litem-img" src="~/assets/books.png" alt="">
                    <div class="litem-label">Library</div>
                </a>
            </div>
            <div class="nav-litem">
                <a id="navCompete" asp-controller="Compete" asp-action="Index">
                    <img class="litem-img" src="~/assets/flags.png" alt="">
                    <div class="litem-label">Compete</div>
                </a>
            </div>
            <div class="nav-litem">
                <a asp-controller="Home" asp-action="Index">
                    <img class="litem-img" src="~/assets/people.png" alt="">
                    <div class="litem-label">Teams</div>
                </a>
            </div>
            <div class="nav-litem">
                <a asp-controller="Home" asp-action="Privacy">
                    <img class="litem-img" src="~/assets/eye.png" alt="">
                    <div class="litem-label">Privacy</div>
                </a>
            </div>
        }
    }
    </div>
</nav>

@await Component.InvokeAsync("Messages");

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer>
    <div class="footer-content">
        Steam Info Network © 2023
        <a class="footer-privacy" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        Support: steaminfonexus@gmail.com
        <div>
            @await Component.InvokeAsync("ThemeSwitcher")
            <link id="theme-link" rel="stylesheet" href="~/css/@(Context.Items["Theme"] ?? "light")-theme.css" asp-append-version="true" />
        </div>
    </div>
</footer>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
