@model SteamProject.Models.User
@{
    ViewData["Title"] = "Game Library";
}

@if (Model.SteamId == null)
{
    <h1>This will be your library page once you sign in with a linked account.</h1>
}
else
{
    <h1>@Model.SteamName's Steam Library</h1>
    <p>
        <img src="@Model.AvatarUrl"/><br>    
    </p>
}

<div class="footer">
    Your full Steam profile is located <a href="@Model.ProfileUrl">here</a>.
</div>