@model SteamProject.Models.User
@{
    ViewData["Title"] = "Game Library";
}

@if (Model.Id == null)
{
    <h1>This will be your library page once you sign in with a linked account.</h1>
}
else
{
    
}