@model SteamProject.ViewModels.GameVM;
@{
    ViewData["Title"] = "ShowMoreInfo";
}
<div>hello</div>
@* <div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", Model.response)" style="height:200px; width=200px"/><br>
        </div>
    </div>
</div> *@