body {
    font-family: 'Space Mono', monospace;
}

.col-sm-6 > h1 {
    color: #e34c4c;
}

.col-sm-6 > img {
    margin: auto;
    display: flex;
}

.card {
    box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.50);
    transition: 0.3s;
    border-radius: 8px;
}

.winnerCard {
    background-image: linear-gradient(to right, goldenRod, gold, yellow, gold, gold, goldenRod, goldenRod );
}

.winnerCard > .card-body > i {
    color: black;
}

.secondCard {
    background-image: linear-gradient(to right, grey, silver, whitesmoke, silver, silver, grey, grey );
}

.secondCard > .card-body > i {
    color: black;
}

.thirdCard {
    background-image: linear-gradient(to right, saddlebrown, darkgoldenrod, goldenrod, darkgoldenrod, darkgoldenrod, saddlebrown);
}

.thirdCard > .card-body > i {
    color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.card-body > .card-title {
    color: #e34c4c;
}


.col-sm-2 > .card {
    border: 1px solid black;
    border-radius: 0px;
    background-color: white;
    font-family: 'Space Mono', monospace;
}
.col-sm-2 > .card > .card-body {
    border-top: 1px solid black;
}

.col-sm-2 > .card > .card-img-top {
    border-radius: 0px;
    background-color: black;
}

.close {
    background: none;
    border: none;
}

.modal-content {
    border: none;
    border-radius: 1rem;
    background-color: #000;
    background-image: url('../assets/steam_gradient.png');
}

.modal-header {
    border-bottom: none;
    justify-content: flex-end;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    height: 30rem;
}

.col-md-3 .ach-col {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#ModalBtn:focus {
    outline: none;
    -webkit-box-shadow: inset 0px 0px 10px  rgba(0,0,0,0.8);
        -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.8);
            box-shadow: inset 0px 0px 10px rgba(0,0,0,0.8);
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#CompletionHistory { 
    font-family: 'Space Mono', monospace; 
    display: flex;
    flex-direction: column;
    max-width: 420px;
    padding: 32px;
    margin: 60px auto;
    border: 1px solid #eee;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    letter-spacing: -0.25px;
    padding-left: 50px; 
}
#CompletionHistory > li { 
    color: #4F4F4F; 
    padding-left: 16px;
    margin-top: 24px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
}

strong { color: #292929; }

.float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:20%;
	right:5%;
	background-color:#e34c4c;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    transition: 1s;
    border: 1px solid #e34c4c;
}

.float:hover {
    background-color: white;
    color: #e34c4c;
    border: 1px solid #e34c4c;
    transition: 1s;
}

.my-float{
	margin-top:22px;
    margin: auto;
}
.iron {
    background-image: linear-gradient(210deg, #CED3D1 48%, #9B9E9C 100%, #9B9E9C 100%);
}
.iron-flare {
    filter: saturate(0%);
    display: none;
}

.gold {
    background-image: linear-gradient(205deg, #E6D06B 38%, #D2923C 100%);
}
.gold-flare {
    filter: hue-rotate(50deg);
    height: 20px;
    width: 20px;
    overflow-x: visible;
    position: absolute;
    left: 87%;
    top: -1%;
}

.plat {
    background-image: linear-gradient(206deg, #5CA6B6 41%, #476B73 100%);
}
.plat-flare {
    filter: hue-rotate(180deg);
    height: 28px;
    width: 28px;
    overflow-x: visible;
    position: absolute;
    left: 84%;
    top: -3%;
}

.diamond {
    background-image: linear-gradient(206deg, #BC8AEE 41%, #7B63A7 100%);
}
.diamond-flare {
    filter: hue-rotate(-42deg);
    height: 36px;
    width: 36px;
    overflow-x: visible;
    position: absolute;
    left: 80%;
    top: -5%;
}

.emerald {
    background-image: linear-gradient(206deg, #82C89D 39%, #2E633F 100%);
}
.emerald-flare {
    filter: hue-rotate(130deg);
    height: 49px;
    width: 49px;
    overflow-x: visible;
    position: absolute;
    left: 77%;
    top: -8%;
}

.ruby {
    background-image: linear-gradient(207deg, #B04050 42%, #5A2A50 100%);
}
.ruby-flare {
    height: 70px;
    width: 70px;
    overflow-x: visible;
    position: absolute;
    left: 68%;
    top: -12%;
}

.ach-value {
    position: absolute;
    color: #fff;
    left: 87%;
    top: 88%;
}

.formWrapper {
    font-family: 'Space Mono', monospace; 
    padding-top: 2%;
}

#createForm {
    padding-top: 10px;
    width: 80%;
    margin: auto;  
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.compTimeIn {
    width: auto;
    margin-right: auto;
}

#DuelDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ffaDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#friendSelector {
    width: auto;
    margin-right: auto;
}

#compCreateSubmit {
    width: auto;
    margin: auto;
    background-color: white;
    border: 1px solid #e34c4c;
    color: #e34c4c;
    transition: 0.5s;
}

#compCreateSubmit:hover {
    background-color: #e34c4c;
    color: white;

}

.compTimeIn {
    border-radius: 0%;
    border: 1px solid black;
    color: #e34c4c;
}

.compTimeIn:focus {
    box-shadow: 0 0 1px #e34c4c;
    border-color: #e34c4c;
}

.compTimeIn:focus-visible {
    outline: 1px solid #e34c4c;
    border-color: #e34c4c;
}


select {
    border: 1px solid black;
    color: #e34c4c;
    background-color: white;
    border-radius: 0%;
    margin-right: auto;
}

select-items {
    background-color: #e34c4c;
    color: white;
}

#AchievementDiv {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul {
    list-style-type: none;
}

.timeWrapper {
    display: flex;
    flex-direction: column;
    width: auto;
}

#groupSelector {
    border: 1px solid black;
    color: #e34c4c;
    background-color: white;
    border-radius: 0%;
    margin-right: auto;
}

.SumoSelect {
    color: #e34c4c;
}

.placeholder {
    background-color: white;
}

.SumoSelect > .CaptionCont {
    border: 1px solid black;
    border-radius: 0%;
}

.SumoSelect > .optWrapper.multiple > .options li.opt span i {
    box-shadow: none;
    border: 1px solid black;
}

.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i {
    background-color: #e34c4c;
}

.SumoSelect > .optWrapper > .options li.opt label {
    color: #e34c4c;
}

.SumoSelect:hover > .CaptionCont {
    box-shadow: 0 0 2px #e34c4c;
    border-color: #e34c4c;
}

.SumoSelect:focus > .CaptionCont {
    box-shadow: 0 0 1px #e34c4c;
    border-color: #e34c4c;
}

#gameSelector {
    width: auto;
    margin-right: auto;
}

#AchievementList {
    max-height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#compDeleteBtnDiv {
    width: 100%;
    display: flex;
    align-content: center;
}

#compDeleteBtn {
    border: 1px solid black;
    background-color: white;
    color: #e34c4c;
    font-family: 'Space Mono', monospace;
    margin-right: auto;
    transition: 0.5s;
}

#compDeleteBtn:hover {
    border: 1px solid black;
    background-color: #e34c4c;
    color: white;
}

#CompletionHistory {
    border: 1px solid black;
    width: 100%;
    padding-left: 7%;
    padding-top: 3%;
    font-weight: bold;
}