
body {
    font-family: Arial, sans-serif !important;
    font-size: 16px !important;
    background-color: #333333 !important;
}

h1 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    color: #ffffff !important;
    text-align: center !important;
}

h2 {
    color: #ffffff !important;
}

h3 {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
    color: #87cefa !important;
}

h4 {
    color: #ffffff !important;
}

h6 {
    color: white;
    text-align: center;
}

li {
    color: #ffffff !important;
}


.center {
    text-align: center !important;
    justify-content: center;
    margin: auto;
    display: block;
}


p {
    margin-bottom: 10px !important;
    color: #ffffff !important;
}

.img-fluid {
    text-align: center;
    height: 226px;
    width: 425px !important;
    border-radius: 15px 15px 0 0;
}

.show-btn {
    border-radius: 0 0 15px 15px;
}

.userCard {
    text-align: center;
    justify-content: center;
    background: linear-gradient(to left, #222731, #2f526e, #222731);
    margin-top: 0px;
    border-radius: 0;
    width: 100% !important;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
    height: 100%;
    min-width: 100%;
}

body {
    background: linear-gradient(to left, #222731, #2f526e, #222731) !important;
}

.followCard {
    text-align: center;
    justify-content: center;
    background: none;
    padding: 5px;
    border: none;
}

#recentGamesCarousel {
    width: 100%;
}

#followedGamesCarousel {
    width: 100%;

}

.carousel-item {
    width: 100%;
}

#toDoButton {
    outline: none;
    border: none;
    margin-top: -5px;
}


.modal-content {
    background: linear-gradient(to left, #222731, #2f526e, #222731) !important;
}

#steamIcon {
    color: #4ba0bc;
}

#toDoButton:focus, .toDoButton:active, toDoButton:hover {
    outline: none;
    box-shadow: none;
    background: none;
}

.modal-lg {
    border-radius: 200px;
    width: 100%
}


.carousel-control-prev-icon {
    margin-left: -250px;
    width: 40px;
    height: 40px;

}

.carousel-control-next-icon {
    margin-right: -250px;
    width: 40px;
    height: 40px;
}


.carousel-inner {
    border-style: ridge;
    border-width: 3px;
    border-color: #4ba0bc;
    border-radius: 20px;
    background-color: #222731;
    justify-content: center;
    width: 100%;

}


.show-follow-btn {
    display: block;
    position: relative;
    break-inside: avoid-column;
}

.show-followed-btn {
    width: 70%;
    border-radius: 0;
    border-radius: 0 0 35px 35px;
    color: white;
    background-color: #2f526e;
    margin-bottom: 20px;

}

.user-avatar {
    border-radius: 50px 50px 0 0;
    width: 70%;
    position: relative;
}

footer {
    height: 65px !important;
    background-image: linear-gradient(180deg,#222731 0%, #000000 50%) !important;
    display: flex;
    align-items: flex-end;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.followModal {
    width: 100%;
}
