body {
    font-family: Arial, sans-serif !important;
    font-size: 16px !important;
    background-color: #333333 !important;
    line-height: 1.6;
    color: #ffffff !important;
}

h1 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    color: #ffffff !important;
    text-align: center !important;
}

h2 {
    color: #ffffff !important;
}

h3 {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
    color: #87cefa !important;
}

h4 {
    color: #ffffff !important;
    font-size: 1.25rem;
    margin-bottom: 5px;
}

h6 {
    color: white;
    text-align: center;
}

li {
    color: #ffffff !important;
}

.center {
    text-align: center !important;
    justify-content: center;
    margin: auto;
    display: block;
}

p {
    margin-bottom: 10px !important;
    color: #ffffff !important;
}

.card-img-top {
    text-align: center;
    height: 226px;
    border-radius: 15px 15px 0 0;
}

.threecol {
    min-width: 25rem;
    max-width: 25rem;
}

.show-btn {
    border-radius: 0 0 15px 15px;
}

.userCard {
    text-align: center;
    justify-content: center;
    background: linear-gradient(to left, #222731, #2f526e, #222731);
    margin-top: 0px;
    border-radius: 0;
    width: 100% !important;
    height: 100%;
    min-width: 100%;
}

body {
    background: linear-gradient(to left, #222731, #2f526e, #222731) !important;
}

.followCard {
    text-align: center;
    justify-content: center;
    background: none;
    padding: 5px;
    border: none;
}

#recentGamesCarousel {
    width: 100%;
}

#followedGamesCarousel {
    width: 100% !important;
}

.carousel-item {
    width: 100% !important;
}

#toDoButton {
    outline: none;
    border: none;
    margin-top: -5px;
}

.modal-content {
    background: linear-gradient(to left, #222731, #2f526e, #222731) !important;
}

#steamIcon {
    color: #4ba0bc;
}

#toDoButton:focus, .toDoButton:active, toDoButton:hover {
    outline: none;
    box-shadow: none;
    background: none;
}

.modal-lg {
    border-radius: 200px;
    width: 100%
}

.carousel-control-prev-icon{
    background-color: rgba(75, 160, 188, 0.5);
    border-radius: 25% 0% 0% 25%;
    height: 6rem;
    padding: 4px;
    margin-left: -1.25rem;
    
}

.carousel-control-next-icon {
    background-color: rgba(75, 160, 188, 0.5);
    border-radius: 0% 25% 25% 0;
    height: 6rem;
    padding: 4px;
    margin-right: -1.25rem;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    opacity: 1;
}

.carousel-inner {
    border-style: ridge;
    border-width: 3px;
    border-color: #4ba0bc;
    border-radius: 20px;
    background-color: #222731;
    justify-content: center;
    width: 100%;
}

.show-follow-btn {
    display: block;
    position: relative;
    break-inside: avoid-column;
}

.show-followed-btn {
    width: 70%;
    border-radius: 0;
    border-radius: 0 0 35px 35px;
    color: white;
    background-color: #2f526e;
    margin-bottom: 20px;
}

.user-avatar {
    border-radius: 50px 50px 0 0;
    width: 70%;
    position: relative;
}

footer {
    height: 65px !important;
    background-image: linear-gradient(180deg,#222731 0%, #000000 50%) !important;
    display: flex;
    align-items: flex-end;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.followModal {
    width: 100%;
}

.news-container {
    transition: height 0.5s ease;
    overflow: hidden;
}

.laser-engrave {
    animation: laser-engrave 0.3s ease-out forwards, white-fire 1s infinite, sparkle 0.5s infinite;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes laser-engrave {
    0% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff;
    }
}

@keyframes white-fire {
    0%, 100% {
        text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #fff;
    }

    50% {
        text-shadow: 0 0 30px #fff, 0 0 60px #fff, 0 0 90px #fff, 0 0 120px #fff;
    }
}

@keyframes sparkle {
    0%, 100% {
        text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #fff, 0 0 0px #fff;
    }

    50% {
        text-shadow: 0 0 30px #fff, 0 0 60px #fff, 0 0 90px #fff, 0 0 120px #fff, 0 -20px 60px #fff;
    }
}
