body {
    font-family: Arial, sans-serif !important;
    font-size: 16px !important;
    line-height: 1.6;
}

h1 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    text-align: center !important;
}



h3 {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
    color: #87cefa !important;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

h6 {
    text-align: center;
}

h5 {
}

.center {
    text-align: center !important;
    justify-content: center;
    margin: auto;
    display: block;
}

p {
    margin-bottom: 10px !important;
}

.badges-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    max-height: 325px; /* adjust the height as needed */
    overflow: auto;
}

.badge-card {
    position: relative;
}

.badge-button-img {
    outline: none !important;
    border: none !important;
    outline-style: none;
    box-shadow: none !important;
}

.badge-button-img:hover, .badge-button-img:focus, .badge-button-img:active {
    outline: none !important;
    border: none !important;
    outline-style: none;
    box-shadow: none !important;
}

.badge-img {
    outline: ButtonShadow;
    border-radius: 30px;
    max-width: 3.5rem;
    max-height: 3.5rem;
    padding: 0;
    margin: 0;
    transition: box-shadow 0.3s ease;
}


.badge-img:hover, .badge-img:active {
    box-shadow: 0px 0px 10px 5px #2f52ee;
}

.badge-description {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: #fff;
    padding: 0.25rem;
}

.card-img-top {
    text-align: center;
    height: 226px;
    border-radius: 15px 15px 0 0;
}

.threecol {
    max-width: 26rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.userCard:hover {
    outline: 3px solid grey;
    outline-style: ridge;
    cursor: pointer;
}


.news-container {
    margin-left: 0;
}

.show-btn {
    border-radius: 0 0 15px 15px;
}

.userCard {
    text-align: center;
    justify-content: center;
    margin-top: 0px;
    border-radius: 0;
    width: 100% !important;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.15s;
    width: 100%;
}


.followCard {
    text-align: center;
    justify-content: center;
    background: none;
    padding: 5px;
    border: none;
}

#recentGamesCarousel {
    width: 100% !important;
}

#followedGamesCarousel {
    width: 100% !important;
}

.carousel-item {
    width: 100% !important;
}

#toDoButton {
    outline: none;
    border: none;
    margin-top: -5px;
}


#toDoButton:focus, .toDoButton:active, toDoButton:hover {
    outline: none;
    box-shadow: none;
    background: none;
}

.modal-lg {
    border-radius: 200px;
    width: 100%
}

.carousel-control-prev-icon{
    border-radius: 25% 0% 0% 25%;
    height: 6rem;
    padding: 4px;
    margin-left: -1.25rem;
    
}

.carousel-control-next-icon {
    border-radius: 0% 25% 25% 0;
    height: 6rem;
    padding: 4px;
    margin-right: -1.25rem;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    opacity: 1;
}

.carousel-inner {
    border-style: ridge;
    border-width: 5px;
    border-radius: 20px;
    justify-content: center;
    width: 100%;

}

.show-follow-btn {
    display: block;
    position: relative;
    break-inside: avoid-column;
}

.show-followed-btn {
    width: 70%;
    border-radius: 0;
    border-radius: 0 0 35px 35px;
    margin-bottom: 20px;
}

.user-avatar {
    border-radius: 50px 50px 0 0;
    width: 70%;
    position: relative;
}

footer {
    display: flex;
    align-items: flex-end;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.followModal {
    width: 100%;
}

.news-container {
    transition: height 0.5s ease;
    overflow: hidden;
}


.competition-details {

    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}

.competition-img-top {
    width: 100% !important;
    box-shadow: 0 -4px 0 #326a7d;
    transition: all 0.25s;
}

.competition-img-top:hover {
    outline: 5px solid grey;
    outline-style: solid;
    cursor:pointer;
}


canvas {
    background-color: rgba(35, 41, 52, 0.9);
    border-radius: 0px 0px 55px 55px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #326a7d;
    position: absolute;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease-in-out;
    
}

.competition-card-title {
    justify-content: center;
    text-align: center;
    font-size: 1.70rem;
    font-family: sans-serif
}

.competition-details {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.competition-card-body {
    padding: 5px;
    word-spacing: 2px;
    box-shadow: 0 -5px 0 #326a7d;
}

