

footer {
    height: 100px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.54) 0%, #000000 50%);
    display: flex;
    align-items: flex-end;
    bottom: 0;
    position: absolute;
    width: 100%;
}
