.wrapper {
    margin: 2rem;
}

.inbox-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

h3 {
    margin-right: auto;
}

.table {
    width: 75%;
}

#num {
    width: 5%;
}

#tstamp {
    padding: none;
    width: 15%;
}

#sndr {
    width: 5%;
}

#sbjct {
    width: 10%;
}

#msg {
    width: 35%;
}

th, td, tr {
    text-align: center;
}

tr {
    height: 1.5rem;
}
