label {
    color: white;
}

.achievement-btn {
    position: absolute;
    background-color: #000;
    opacity: 0%;
    border: none;
    transition: all 0.5s ease;
    background-image: url('../assets/achievement.png');
}

.user-avatar {
    border-radius: 25px;
}

.achievement-btn:hover {
    opacity: 0.95 !important;
}


.hide-btn, .unhide-btn {
    top: 5px;
    right: 5px;
}

.follow-btn {
    bottom: 5px;
    right: 5px;
}

.show-btn {
    top: 35%;
    right: 5px;
}

.bi-bookmark-dash-fill {
    color: lightgreen !important;
}

.refresh-btn, .show-hidden-btn, .profile-btn, .recommendation-btn {
    outline: 2px inset black;
    transition: all 1s ease;
    margin-bottom: 15px;
}

.hide-btn, .follow-btn, .show-btn, .unhide-btn {
    transition: all 1s ease;
    position: absolute;
    opacity: 0.1;
    font-size: 2rem;
    outline: 2px inset black;
}

.genreRank {
    top: 6px;
    right: 6px;
    position: absolute;
    font-size: 2rem;
    background-color: rgba(0,0,0, 0.7)
}


.gameContainer {
    outline: ridge #2f526e;
    outline-width: 3px;
    outline-offset: -2px;
    border-radius: 1px;
    transition: all 0.5s;

}
.gameContainer:hover {
    outline: solid darkcyan;
    opacity: 0.9;
    outline-width: 7px;
    outline-offset: -6px;
    z-index: 1000;
    
}

.ach-modal-content {
    background-image: url('../assets/steamGradient.png');
}

.gameContainer:hover > .hide-btn, .gameContainer:hover > .follow-btn, .gameContainer:hover > .achievement-btn, 
.gameContainer:hover > .show-btn, .gameContainer:hover > .refresh-btn, .gameContainer:hover > .unhide-btn  {
    opacity: .50;
}

.hide-btn:hover, .follow-btn:hover, .show-btn:hover, .refresh-btn:hover, .show-hidden-btn:hover, .profile-btn:hover, .unhide-btn:hover {
    opacity: 1 !important;
    border-radius: 25%;
}

.close {
    background: none;
    border: none;
}

.modal-content {
    border: none;
    border-radius: 1rem;
    background-color: #000;
    background-image: url('../assets/steam_gradient.png');
}

.modal-header {
    border-bottom: none;
    justify-content: flex-end;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    height: 30rem;
}

.modal-img {
    align-self: flex-end;
    height: 250px;
    width: 166px;
    border: 3px solid #4FE3BB;
}



#modal-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.earned-label {
    white-space: nowrap;
    flex-wrap: wrap;
    height: fit-content;
}

.progress {
    background-color: #fff;
    width: 200px;
    height: 10px;
    border-radius: 20px;
}

.progress-value {
    background-color: #FF4600;
    position: absolute;
    height: 10px;
    border-radius: 20px;
}

#modal-right {
    height: 368px;
    overflow-y: scroll;
    overflow-x: auto;
    
}

#ach-row {
    align-items: flex-end;
}

.ach-name {
    color: #fff;
    font-size: 0.69rem;
    white-space: pre-line;
}

.ach-img {
    height: 64px;
    width: 64px;
    border-radius: 10px;
}

.col-md-3 .ach-col {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ach-col {
    margin-bottom: 1rem;
}

.unearned {
    opacity: .30;
}

#search-input {
    width: 235px;
    border: 2px solid #000;
    border-radius: 2rem;
    background-color: #fff;
    padding-left: 1rem;
    margin-top: 5px;
    margin-bottom: 15px;
}

