/*General Stuff*/


footer {
    background-image: linear-gradient(180deg,#222731 0%, #000000 60%) !important;
    height: 65px !important;
}

body {
    background-color: #fff;
}

body::before, body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: opacity 0.5s;
}

body::before {
    background: linear-gradient(to left, #222731, #2f526e, #222731);
    opacity: 0;
}

body::after {
    background-color: #fff;
    opacity: 1;
}

p, ul, li {
    color: black;
}

hr {
    color: black;
    background-color: black;
    border-color: black;
}

h1, h2, h4, h5, h6 {
    color: black;
    align-self: flex-start;
}

/*Dashboard Specific stuff*/
.modal-content {
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.userCard {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 80%);
    border-radius: 15px !important;
}

.carousel-control-prev-icon {
    background-color: rgba(75, 160, 188, 0.8);
}

.carousel-control-next-icon {
    background-color: rgba(75, 160, 188, 0.8);
}

.carousel-inner {
    border-color: #4ba0bc;
}

.show-followed-btn {
    background-color: #2f526e;
    color: black;
}

#steamIcon {
    color: #4ba0bc;
}

/*animation for type writer color*/
@keyframes laser-engrave {
    0% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff;
    }
}

@keyframes white-fire {
    0%, 100% {
        text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #fff;
    }

    50% {
        text-shadow: 0 0 30px #fff, 0 0 60px #fff, 0 0 90px #fff, 0 0 120px #fff;
    }
}

@keyframes sparkle {
    0%, 100% {
        text-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #fff, 0 0 0px #fff;
    }

    50% {
        text-shadow: 0 0 30px #fff, 0 0 60px #fff, 0 0 90px #fff, 0 0 120px #fff, 0 -20px 60px #fff;
    }
}

/*ShowMoreInfo Css*/
.card-title, .card-text {
    color: black;
}

th, tr, td {
    color: black;
    border-color: black;
}

/*Site.css Stuff*/
::-webkit-scrollbar-thumb {
    background: #2a475e;
}

.modal-header, .modal-body, .modal-footer {
    background-image: linear-gradient(to left, #222731, #2f526e, #222731);
}

.loading-spinner:after {
    border: 10px solid #4FE3BB;
    border-color: #4FE3BB transparent #4FE3BB transparent;
}

#friendsListTable tr:nth-child(even) {
    background-color: rgb(43, 64, 104);
}

.gameInfoCard {
    background: linear-gradient(120deg, gainsboro 0%, #8fd3f4 100%);
}

/*ShowMoreNew.css page stuff here*/

.news-title {
    color: black;
}

.news-title-main {
    background-color: #2f526e;
    color: white;
}

.link-btn {
    background-color: #2f526e;
    color: whitesmoke;
}

.summarize-btn {
    background-color: #007bff;
    color: whitesmoke;
}

    .summarize-btn.show-original {
        background-color: green;
    }

.feedtype {
    color: darkcyan;
}

.timestamp {
    color: darkblue;
}



body, footer, p, ul, li, h1, h2, h4, h5, h6, .modal-content, .userCard, .carousel-control-prev-icon, .carousel-control-next-icon, .carousel-inner, .show-followed-btn, #steamIcon, .card-title, .card-text, th, tr, td, .modal-header, .modal-body, .modal-footer, #friendsListTable tr:nth-child(even), .gameInfoCard, .news-title, .news-title-main, .link-btn, .summarize-btn, .feedtype, .timestamp {
    transition: color 2s ease;
}
