
body {
    font-family: Arial, sans-serif !important;
    font-size: 16px !important;
    background-color: #333333 !important;
}

h1 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    color: #ffffff !important;
    text-align: center !important;
}

h3 {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
    color: #87cefa !important;
}

p {
    margin-bottom: 10px !important;
    color: #ffffff !important;
}

