th, tr, td {
    color: #000;
    width: 25%;
}

h3, h4, td {
    color: #000;
}

.card-title, .card-text {
    color: #fff;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #000;
}