
.card-title, .card-text {
    color: #fff;
}

h3 {
    color: #87cefa !important;
}

h6 {
    color: white !important;
}


body {
    background: linear-gradient(to left, #222731, #2f526e, #222731) !important;
}

p {
    color: #fff;
}

footer {
    background-image: linear-gradient(180deg,#222731 0%, #000000 50%) !important;
    height: 70px !important;
}

hr {
    border-top: 100px;
    border: 2px solid #87cefa;
}

header {
    margin-bottom: 30px;
}

#gameImage {
    border-radius: 15px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.summarize-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.news-container {
    transition: height 0.5s ease;
    overflow: hidden;
}
