html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #858585; 
}
 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #171a21; 
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex_item{
  align-items: center;
  justify-content: center;
}

label.form-label {
  color: black;
}

label.Input_Email {
  color: black;
}

.modal-header, .modal-body, .modal-footer {
    border: none;
} 

.loading-spinner {
    width: 96px;
    height: 96px;
}
.loading-spinner:after {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    margin: 9px;
    border-radius: 50%;
    animation: loading-spinner 1s linear infinite;
}

@keyframes loading-spinner {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}

/* PROFILE PAGE WORK */

#friendsListTable {
  text-align: left;
  overflow-x: scroll;
  text-overflow: clip;
  border-collapse: collapse;
  table-layout: auto;
  margin: auto;
  padding: 1%;
}



.FriendImage
{
  height:32px; 
  width: 32px;
}

/* FRIENDS PAGE WORK */

.friendCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

.friendCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

/* Landing, Navbar, Footer Styling  */

.short-logo-img {
  height: 50px;
  width: 50px;
}

.long-logo-img {
  display: none;
}

.litem-label {
  display: none;
}

.badge-popup {
    align-content: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.badgeImg {
    width: 8rem;
    height: 8rem;
}

.badge-popup-content {
    justify-content: center;
    text-align: center;
    background-color: darkcyan;
    opacity: .95;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 33%;
    border-radius: 15px;
}

.badge-popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.badge-popup-close:hover,
.badge-popup-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.navbar {
  background-color: #000;
  height: 69px;
  box-shadow: 0px 6px 6px #000;
  align-content: center;
  z-index: 1;
}

.navbar-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-right: 3rem;
}

.nav-link.top-link {
  color: #fff;
}
.nav-link:hover {
  color: #666666;
}

.vert-nav {
  background-color: #000;
  height: 400px;
  width: 65px;
  border-radius: 8px;
  border: 1px solid #979797;
  top: 80px;
  position: fixed;
  border-radius: 65px;
  z-index: 2;
}

.vert-nav:hover .short-logo-img {
  display: none;
  transition: all .7s ease;
}
.vert-nav:hover .long-logo-img {
  display: flex;
  height: 40px;
  width: 145px;
  margin-top: 1rem;
  transition: all .1s linear;
}

.vert-nav:hover .litem-label {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  transition: all .7s ease;
}

.vert-nav:hover {
  background-color: #000;
  height: 400px;
  width: 180px;
  border-radius: 65px;
  border: 1px solid #979797;
  transition: all .7s ease;
}

.nav-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 10px;
}

.nav-body {
  display: flex;
  align-content: center;
  flex-flow: column wrap;
  color: #fff;
}

a {
  display: flex;
  text-decoration: none;
  color: none;
}

.nav-litem {
  border-top: 1px solid #979797;
  padding: .6rem;
  display: flex;
  justify-content: center;
}

.litem-img {
  height: 21px;
  contain: content;
}

.litem-label {
  color: #fff;
}

#landingCarouselInner {
  background-image: url(../assets/gamemural.png);
  height: 400px;
  display: flex;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
    height: 100px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.54) 0%, #000000 50%);
    display: flex;
    align-items: flex-end;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer-privacy,.footer-privacy:hover,.footer-privacy:active {
  color: #666666;
}

.footer-content {
  color: #666666;
  width: 100%;
  margin-bottom: 1rem;
  margin-left: 2rem;
  display: flex;
  justify-content: space-around;
}

div {
  color: #000;
}

.land-section {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.minor1, .minor2 {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}

.major1, .major2 {
  font-weight: 600;
  text-align: center;
}

.major1 {
  background-image: linear-gradient(90deg, #FFAA00 0%, #FF00EE 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
}

.steam-pill { 
  background-image: url(../assets/steamGradient.png);
  border-radius: 65px;
  width: 300px;
  height: 55px;
  font-size: 1.5rem;
  color: #fff;
  display: grid;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.register-link, .register-link:hover {
  color: #fff;
}

.major2 {
  background-image: linear-gradient(90deg, #6600FF 0%, #FF0066 100%);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 3.5rem;
  width: 75%;
}

.testimonials {
  padding-top: 50px;
}

.test {
  width: 25%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.test-img {
  height: 100px;
  border-radius: 8px;
}

.test-text {
    text-align: center;
    font-size: 1.1rem;
}

.github-plug {
  margin-top: 150px;
  background-image: radial-gradient(circle at 50% 50%, #49319E 0%, #5C0982 120%);
  border-radius: 15px;
  width: 600px;
  height: 150px;
}

.bi.bi-github {
  color: #fff;
  font-size: 4.5rem;
}

.github-link {
  color: #fff;
  font-size: 1.6rem;
  height: 150px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.github-anchor,.github-anchor:hover,.github-anchor:active {
  color: #FF5454;
}

.pb-3 {
  margin-bottom: 200px;

}


/* GAME INFO PAGE */
.gameInfoCard {
    width: 20rem;
  padding: 2px;
  height: 200px;
}

.scrollable {
  overflow-y: auto;
  max-height: 140px;
}

/*Dark Mode Light Mode Button*/
div.btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.btn-container i {
    display: inline-block;
    position: relative;
    top: -9px;
}

label {
    font-size: 13px;
    color: #424242;
    font-weight: 500;
}

.btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 140px;
    height: 30px;
    background: #e0e0e0;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
}    

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 7px;
    right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    width: 70px;
    height: 25px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
}

.btn-color-mode-switch > .alert {
    display: none;
    background: #ff9800;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
    background: #151515;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 68px;
    background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
    /*background: #66BB6A; */
    /*color: #fff;*/
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
    display: block;
}

/*mode preview*/
.dark-preview {
    background: #0d0d0d;
}

.dark-preview div.btn-container i.fa-sun-o {
    color: #777;
}

.dark-preview div.btn-container i.fa-moon-o {
    color: #fff;
    text-shadow: 0px 0px 11px #fff;

}

.white-preview {
    background: #fff;
    
}

.white-preview div.btn-container i.fa-sun-o {
    color: #ffa500;
    text-shadow: 0px 0px 16px #ffa500;
}

.white-preview div.btn-container i.fa-moon-o {
    color: #777;
}

p.by {
}

p.by a {
    text-decoration: none;
    color: #000;
}

.dark-preview p.by a {
    color: #777;
}

.white-preview p.by a {
    color: #000;
}
