

<head>
    <link rel="stylesheet" href="~/css/Inbox.css">
</head>


<div class="wrapper">
    <h3>Your Inbox</h3>
    <div class="inbox-container">
        <table class="table table-sm table-dark">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Sender</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <th scope="col">21:41:56</th>
                <td>S.I.N</td>
                <td>Badge Earned</td>
                <td>You have earned the "Signed Up" badge for signing up for Steam Info Network</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>