@model int
@{
    ViewData["Title"] = "Game Library";
}

<head>
    <link rel="stylesheet" href="~/css/Compete.css">
</head>

<h1 style="padding-top: 5%;"> THIS IS THE DETAILS PAGE FOR A COMPETITION WITH ID @Model </h1>
