@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
<head>
    <link rel="stylesheet" href="~/css/2FA.css">
</head>

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should reset your authenticator keys.
        <br>
        <br>
        <button class="btn btn-primary"><a asp-page="./ResetAuthenticator" style="color: white">Reset Keys</a></button>
        <br>
        <br>
        Bare in mind, this only prevents a key from working here on this site. The code will still show in the authenticator app.
        <br>
        <br>
        After resetting the authenticator key(s), you will also want to delete the key/account from within the Google Authenticator app,
        so that a new set up wont be confused with the old, and now diabled, code. Resetting the key here <strong>will not</strong>
        delete that key from the app.
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
