@model SteamProject.ViewModels.FriendsPageVM
@{
    ViewData["Title"] = "Friends";
}

@if (Model.Friends.Count == 0) 
{
    <div class="wrapper">
        <div class="no-friends-message">
            <h2> It looks like you have no friends on this STEAM account, <br>
            don't worry though, we'll be your friends :) </h2> <br>
            <h3>Unexpected error? </h3> <br>
            <h5>Make sure you're STEAM account is <a href="/Identity/Account/Manage/ExternalLogins" class="btn btn-outline-dark justify-content-center">linked</a> to your S.I.N account</h5>
        </div>
    </div>
}
else {
    <div class="steamId" id=@Model.SteamId hidden></div>
    <div class="userId" id=@Model.Id hidden></div>
    <h1 id="friend-header">Your Friends</h1>
    <div class="search-and-invite">
        <input id="search-input" type="search" placeholder= "ðŸ” search for a friend...">
        <i id="inv-friend-i" class="bi bi-envelope-paper" title="Invite a friend to join S.I.N" data-toggle="modal" data-target="#sendInviteModal"></i>
    </div>
    <div class="wrapper">
    @foreach (var friend in Model.Friends)
    {
    <div class="card friend-card" id=@friend.SteamName>
        <img class="card-img-top friend-card-img" src=@friend.AvatarFullUrl style="height: 138px;width: 138px;margin-top: 2rem;" alt="Title">
        <div class="card-body friend-card-body">
            <h4 class="card-title" style="font-weight: 800;color:#fff;">@friend.SteamName</h4>
            <p class="card-text friend-persona" id=@friend.SteamId style="font-weight: 600;"></p>
            <p class="card-text friend-game" id="@friend.SteamId" style="font-weight: 700;color:#fff;"></p>
            <div class="friend-card-btns">
                <a href="/friend/@friend.SteamId">
                <button class="compare-games" title="Compare games with this friend"><i class="bi bi-controller"></i></button>
                </a>
                <br>
                <button class="inv-to-team" title="Invite friend to Team"><i class="bi bi-person-add"></i></button>
            </div>
        </div>
    </div>
    }
    </div>

<div class="modal fade" id="sendInviteModal" tabindex="-1" role="dialog" aria-labelledby="sendInviteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendInviteModalLabel">Send your friend an invite to join S.I.N!</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20"><g><rect height="15.4956" opacity="0" width="15.4859" x="0" y="0"/><path d="M0.252699 15.2429C0.594496 15.575 1.1609 15.575 1.49293 15.2429L7.74293 8.99293L13.9929 15.2429C14.325 15.575 14.9011 15.5847 15.2332 15.2429C15.5652 14.9011 15.5652 14.3445 15.2332 14.0125L8.98317 7.7527L15.2332 1.5027C15.5652 1.17067 15.575 0.604261 15.2332 0.27223C14.8914-0.0695668 14.325-0.0695668 13.9929 0.27223L7.74293 6.52223L1.49293 0.27223C1.1609-0.0695668 0.58473-0.0793324 0.252699 0.27223C-0.0793324 0.614027-0.0793324 1.17067 0.252699 1.5027L6.5027 7.7527L0.252699 14.0125C-0.0793324 14.3445-0.0890981 14.9109 0.252699 15.2429Z" fill="#000000" fill-opacity="0.25"/></g></svg>
        </button>
      </div>
      <div class="modal-body">
        <label for="email"><i class="bi bi-envelope-at"></i></label>
        <input type="email" name="email" id="email-input" placeholder="handle@domain.com">
        <br>
        <label for="phone"><i class="bi bi-phone"></i></label>
        <input type="tel" name="phone" id="phone-input" placeholder="(505)-555-5555">
      </div>
      <div class="modal-footer">
        <button type="button" id="send-inv" class="btn btn-primary">Send Invite</button>
      </div>
    </div>
  </div>
</div>

}



@section Scripts
{
    <script type="text/javascript"  src="@(Url.Content("~/js/friendsPage.js"))"></script>
    <link rel="stylesheet" href="@(Url.Content("~/css/FriendsPage.css"))">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
}
