@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Steam Information Nexus (SINex)</h1>

    <p>SINex is the ultimate platform for all things Steam. Here, you'll be able to log in securely using your Steam account and access all sorts of information about your account and games, as well as compete with friends in achievement battles and discover new information about the games you love.</p>

    <h2>Features:</h2>
    <ul>
        <li>Secure Steam login</li>
        <li>Access to your SteamID, game library, and friends list</li>
        <li>Compete with friends in achievement battles</li>
        <li>Discover new information about your favorite games</li>
    </ul>
    <p>Stay tuned as we continue to add new features and expand the world of Steam like never before!</p>

</div>
