<html>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<head> 
    <link rel="stylesheet" type="text/css" href="~/css/Privacy.css" asp-append-version="true">
</head>


<body>
    <div class="mx-auto">
        <h3>Introduction</h3>

        <p>We at SteamInfoNexus respect your privacy and are committed to protecting your personal information. This privacy policy explains how we collect, use, and protect your personal information, as well as your rights regarding your personal information. By using our website, you consent to the terms of this privacy policy.</p>

        <br />

        <h3>Information we collect</h3>

        <p>We may collect various types of information from you when you use our website. This includes:</p>

        <ul>
            <li>Personal information, such as your name, email address, and other contact details you provide when registering for an account, participating in competitions or filling out forms.</li>
            <li>Information about your gaming history and preferences, such as your game library, achievements, and other gameplay statistics.</li>
            <li>Technical information, such as your IP address, browser type, and other information about your device and how you use our website.</li>
            <li>Information about your usage of our website, such as your page views, clicks, and other interactions with our website.</li>
        </ul>

        <br />

        <h3>How we use your information</h3>

        <p>We use your personal information to provide you with our services, to communicate with you about your account, and to improve and personalize our website. This includes:</p>
        <ul>
            <li>Providing you with access to our website, including your account and all of its features.</li>
            <li>Customizing your experience on our website, such as showing you content based on your interests and gameplay history.</li>
            <li>Communicating with you about your account and other website-related matters.</li>
            <li>Analyzing usage of our website and improving our services.</li>
        </ul>

        <br />

        <h3>Disclosure of your information</h3>

        <p>We do not share or sell your personal information to parties for their own marketing purposes. We may disclose your personal information in the following circumstances:</p>
        <ul>
            <li>With your consent.</li>
            <li>To comply with legal obligations, such as a subpoena or other lawful requests for information we receive.</li>
            <li>To enforce our policies and agreements, including investigating any potential violations.</li>
            <li>To protect the rights, property, or safety of our users, or others.</li>
        </ul>

        <br />

        <h3>Security</h3>
        <p>We take appropriate technical and organizational measures to protect your personal information against unauthorized access, unauthorized disclosure, and other forms of misuse. However, no transmission of data over the internet is guaranteed to be completely secure, and we cannot guarantee the security of any information you provide to us.</p>

        <br />

        <h3>Your rights</h3>
        <p>You have certain rights with respect to your personal information, including:</p>
        <ul>
            <li>The right to access and receive a copy of the personal information we hold about you.</li>
            <li>The right to request that we correct any personal information that is inaccurate or incomplete.</li>
            <li>The right to request that we erase your personal information in certain circumstances.</li>
            <li>The right to object to our processing of your personal information.</li>
        </ul>

        <br />

        <h3>Changes to this privacy policy</h3>
        <p>We may update this privacy policy from time to time. If we make any material changes, we will notify you by email or by posting a notice on our website prior to the change becoming effective.</p>

    </div>


</body>


</html>
